.vidaNr-calc {
  * {
    box-sizing: border-box;
  }
  .container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    clear: both;
  }
  .container.modal {
    padding: 0 0;
  }
  .responsive .container {
    max-width: 1480px;
  }

  hr.hr {
    border-top: 1px dotted gray;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 20%;
  }
  .col-3-plus {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }

  [class*="col-"] {
    float: left;
    padding: 8px;
    /*border: 1px solid red;*/
  }

  // pad
  @media only screen and (max-width: 989px) {
  }

  //mobile
  @media only screen and (max-width: 767px) {
    [class*="col-"] {
      width: 100%;
    }
  }
}
