.vidaNr-calc {
  .margin__top-xs {
    margin-top: 8px;
  }
  .margin__top-s {
    margin-top: 16px;
  }
  .margin__top-m {
    margin-top: 24px;
  }
  .margin__top-l {
    margin-top: 32px;
  }
  .margin__top-xl {
    margin-top: 42px;
  }
}
