.vidaNr-calc {
  /* The Modal (background) */

  .modal-window {
    display: none; /* Hidden, none by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: 4% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    p {
      line-height: 1.6;
    }
  }

  /* The Close Button */
  .close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -8px;
    transition: all 0.5s ease-out;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Modal Header */
  .modal-header {
    padding: 16px;
    background-color: $primary;
    color: white;
  }

  /* Modal Body */
  .modal-body {
    padding: 16px 16px;
  }

  /* Modal Footer */
  .modal-footer {
    padding: 16px 16px;
    background-color: $primary;
    color: white;
  }

  .modal-window .result-icon {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    text-align: center;
    background-color: transparent;
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
    background-origin: initial;
    border-radius: 60px;
    &.life {
      background-image: url(../img/SVG/life.svg);
    }
    &.disability {
      background-image: url(../img/SVG/disability.svg);
    }
    &.accident {
      background-image: url(../img/SVG/accident.svg);
    }
    &.illness {
      background-image: url(../img/SVG/illness.svg);
    }
    &.ilt {
      background-image: url(../img/SVG/ilt.svg);
    }
  }
  .result-table {
    font-size: 12px;
    border-collapse: collapse;
    width: 100%;
  }
  td,
  th {
    border: none;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 4px 8px;
  }
  td:last-child,
  th:last-child {
    text-align: right;
  }
  th {
    display: none;
  }
  .modal-print {
    margin: 16px 0;
    text-align: right;
    button {
      cursor: pointer;
    }
  }
  // pad
  @media only screen and (max-width: 989px) {
  }

  //mobile
  @media only screen and (max-width: 767px) {
  }
}
